{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="about-page-container">

    <!-- Header -->
    <div>
        <div>
            <h2>ABOUT</h2>
        </div>
        <span class="caption" id="about-caption">
            <a href="#the-project">THE PROJECT</a>
        </span>
        <span id="about-divider">
            |
        </span>
        <span class="caption" id="about-caption">
            <a href="#the-team">THE TEAM</a>
        </span>
        <span id="about-divider">
            |
        </span>
        <span class="caption" id="about-caption">
            <a href="#tools">TOOLS</a>
        </span>
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h1 id="the-project">THE PROJECT</h1>

        <p><i>More Than Surviving</i> is a project by Master’s candidates in the Digital Humanities program at the CUNY
            Graduate Center. It is, first and foremost, a celebration of Wampanoag political agency, ingenuity, and
            persistence. Although this project currently focuses on the antebellum era (1815–1861; leading up to the
            Civil War), at any point in Wampanoag history, there are ample instances of activity that embody a core
            cultural understanding of the interconnectivity and value of all beings. This underlying worldview comes to
            life in many different forms—this project seeks to explore its expression via political action. </p>
        <h3>Project Methods</h3>
        <p>The Indigenous activists and events featured in this iteration of the project are focused tightly in the
            years 1832–1850, partially due to the constraint of resources (time), and because this period was an
            especially active period in the United States for political, social and moral reform activism. The political
            and social impact of the Second Great Awakening and the industrialization of the nation was on full display
            via organizations fighting for Indigenous rights, workers’ rights, women’s rights, racial equality,
            temperance, and the end of slavery—the Wampanoag were right there, not just witnessing, but taking action.
        </p>
        <p>Through this project, we seek to combat the patriarchal disregard of the maternal lineage of Indigenous
            peoples. As a matrilineal culture, this disregard was particularly harmful to Wampanoag cultural practice.
            This project also seeks to more fully identify the heritage of activists formally relegated to racial
            categories of Black or White due to an historic lens confined by a racial binary and concepts of racial
            purity. In doing so, this project reasserts the value and impact of continued cultural practice that has
            contributed to the continuous presence of the Wampanoag on their homelands.</p>
        <p>The interactive map situates Wampanoag political activities on Wampanoag homelands as documentation of their
            continued presence—and as a bridge to understanding that this presence extends through to today. The
            locations are approximate, based on our knowledge of community activities during the era. The timeline
            offers context in relation to national and state events, demonstrating Wampanoag awareness of the issues of
            the day, and their participation in the struggles, even when the outcomes did not directly impact their own
            communities.
        </p>
        <p>The Wampanoag participated in many of the important moments from this era of US history and had direct
            contact with figures very familiar to both professional and amateur historians—from housing Frederick
            Douglass as part of the Underground Railroad to publishing Indigenous perspectives in <i>The Liberator</i>,
            the official newspaper of the American Anti-Slavery Society, and garnering the support of William Lloyd
            Garrison, its founder. </p>
        <h3>Beyond the Colonial Period</h3>
        <P>Most Americans are not aware of the Wampanoag—their impact on American history or their continued presence on
            their homelands today. They show up in US history during the colonial era; the Wampanoag were on the
            frontlines of English colonial oppression, as their homelands are situated in eastern Massachusetts
            including Cape Cod and the Islands and eastern Rhode Island. The “Indians” the pilgrims encountered were the
            Wampanoag—as were the warriors present at the widely sensationalized first Thanksgiving, yet “Wampanoag” is
            still an unknown name to most. US history often relegates Indigenous people to background texture by
            replacing their individual names and cultures with a general “Indians” or by hiding them in plain sight by
            under-identifying individuals in favor of a strict racial binary with room only for the labels “black” and
            “white.” By failing to name Indigenous people fully, it becomes easier to situate them exclusively in the
            past, erasing their continued presence. A faulty and harmful concept of racial purity—“The last of…”— erases
            the profound and foundational impact of the passage of cultural beliefs and practices, independent of blood
            quantums, that sustain a people through centuries of oppression as it has the Wampanoag. </P>
        <h3>A Culture of Connectivity and Care</h3>
        <p>Wampanoag culture traditionally and in practice acknowledges and speaks to a person’s humanity, not their
            skin color—with behaviors rooted in an understanding of our interconnectivity. This is evidenced in
            Massasoit Ousamequin’s (Yellow Feather) generosity and empathy towards the first European settlers at
            Plimouth. Despite the Europeans immediately stealing winter food caches and robbing burial grounds,
            Ousamequin chose to help them survive their first winter and offered guidance and support in cultivating and
            understanding the land. One must imagine the extreme position of empathy and recognition of the desperation
            of these “others" to allow for such a generous response. This project proposes that, as displayed by
            Ousamequin, Wampanoag cultural understanding of our interconnectivity with all beings is also evidenced in
            their rescue of refugees from slavery, their intermarriage and adoption of people of all backgrounds, their
            defense of communal land practices, and their petitions for racial equality, among other things.</p>


        <h3>Looking into the future</h3>
        <p>Looking into the future, we anticipate expanding the project — filling in activities in both directions of
            the timeline to demonstrate the continuous cultural expression of Wampanoag expressions of agency, ingenuity
            and persistence. From first contact through to today, there are powerful examples of Wampanoag culture
            expressed through political activities rooted in the understanding of the interconnectivity of all beings.
        </p>
        <p>We encourage you, particularly Wampanoag tribal members, to reach out with feedback or suggestions via <a
                href="mailto:morethansurviving.info@gmail.com">morethansurviving.info@gmail.com</a>.
        </p>
    </div>
    <br>
    <br>


    <hr id="about-hr">
    <div>
        <h1 id="the-team">THE TEAM</h1>
        <div class="about-bio">
            <div class="about-pic">
                <img src="{% static '/images/majel.png' %}">
            </div>
            <div class="about-bio-text">
                <h3>Majel Peters</h3>
                <h4>CO-PROJECT COORDINATOR, RESEARCH LEAD</h4>
                <p>Majel Peters is a Mashpee Wampanoag communications professional with 20 years of experience working
                    in
                    marketing and design, and a Master's candidate in the Digital Humanities program at the CUNY
                    Graduate
                    Center. Her passion lies in the art and practice of communication in its many forms, with a special
                    interest
                    in visual design, public history and collective memory. Majel’s work has included the development of
                    strategy, messaging, and creative direction of non- and for-profit organizations and campaigns. Her
                    past
                    clients have included Feeding America, The National Democratic Redistricting Committee (NDRC),
                    Carnegie
                    Hall, Digital Peace Now, Supermajority, Committee to Protect Journalists (CPJ), and Reporters’
                    Committee
                    for
                    Freedom of the Press (RCFP).
                </p>

                <p>She is currently engaged in refocusing her professional skills through a lens informed by her
                    cultural
                    background. In this spirit, Majel conceived of the public history project More Than
                    Surviving
                    to
                    resurface and celebrate expressions of Wampanoag political agency as evidence of cultural awareness
                    of
                    the
                    interconnectivity of all beings.</p>
            </div>
        </div>



        <div class="about-bio">
            <div class="about-pic">
                <img src="{% static '/images/elizabeth.jpg' %}">
            </div>
            <div class="about-bio-text">
                <h3>Elizabeth Szypulski</h3>
                <h4>CO-PROJECT COORDINATOR, DEVELOPER, RESEARCHER</h4>
                <p>Elizabeth Szypulski is a Polish-American instructional designer and a first-year student in the
                    Digital Humanities
                    MA
                    program at the CUNY Graduate Center. She has over a decade of experience creating interactive
                    learning
                    tools
                    and developing curriculum for educational, non-profit, and corporate clients. Her research interests
                    include
                    public history and digital learning design for learners who may not be fluent in digital platforms
                    or
                    who
                    may find traditional educational experiences inaccessible or discouraging.</p>

                <p>She joined the More Than Surviving team with the goal of contributing to a meaningful public history
                    project
                    and developing her own research and coding skills. She serves as a co-project manager and developer.
                    She
                    is
                    responsible for developing an interactive timeline of Wampanoag activism and assisted with research
                    and
                    front-end implementation.</p>
            </div>
        </div>


        <div class="about-bio">
            <div class="about-pic">
                <img src="{% static '/images/zelda.JPEG' %}">
            </div>
            <div class="about-bio-text">
                <h3>Zelda Montes</h3>
                <h4>LEAD DEVELOPER, DATA MANAGEMENT DESIGNER</h4>
                <p>Zelda Marcela Montes is a non-binary Latine software engineer and first-year M.A. student in Digital
                    Humanities at the CUNY Graduate Center. After learning how to code in a high school summer program,
                    Zelda
                    continued pursuing their interest in technology, ultimately graduating from Yale University with a
                    B.A.
                    in
                    Computer Science in May of 2022. Throughout their time at Yale, Zelda worked multiple part-time jobs
                    and
                    served in community roles advocating for underrepresented and marginalized folks in tech during the
                    semester, and worked multiple Software Engineering and Data Science internships during the summers.
                    Zelda’s
                    research interests include urban, gender, and ethnic studies, and they are often looking for ways to
                    bring
                    these areas of passion into the work they do in technology.
                </p>
                <P>Zelda joined More Than Surviving as Lead Developer and Data Management Designer. They are responsible
                    for
                    creating the web application in Python and Django, designing the API to handle PostgreSQL database
                    management, and constructing the interactive map of Wampanoag political events from 1830-1850, using
                    MapBox
                    GL JS and GeoJSON.
                </P>
            </div>
        </div>



        <div class="about-bio">
            <div class="about-pic">
                <img src="{% static '/images/EG.jpg' %}">
            </div>
            <div class="about-bio-text">
                <h3>Estefany Marlen Gonzaga</h3>
                <h4>VISUAL DESIGNER, COMMUNITY OUTREACH LEAD</h4>
                <p>Estefany was born in Nezahualcoyotl, Mexico, and works as a Higher Education Professional at the City
                    University of New York. At LaGuardia Community College, she leads the Student Success Mentor
                    Program,
                    ensuring that First Year students receive guidance and support from their peers as they adjust to
                    college
                    life and create online portfolios. Estefany is also pursuing her education and is enrolled in the
                    Digital
                    Humanities program at the CUNY Graduate Center.
                    Estefany is interested in Peer Mentorship, Digital Learning, and Education Technology. In her free
                    time,
                    Estefany loves to take her loved ones on hiking adventures and explore the natural world around her.
                </p>
                <p>Estefany's passion for exploring her Indigenous roots has sparked a deep curiosity about Indigenous
                    peoples
                    in the Americas. She joined the More Than Surviving team project, supporting the Visual Design,
                    Outreach,
                    and Social Media Strategy. She is excited to work with her team and to learn about the Wampanoag
                    people.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1>ADDITIONAL CONTRIBUTORS</h1>

    <!-- As the project continues, you can add additional contributors by copying the code block below.-->


    <div class="about-bio">
        <div class="about-pic">
            <!--Upload the contributor image to Static > Images and replace the image filename below with the new one. -->
            <img src="{% static '/images/Ramona_Peters.jpg' %}">
        </div>
        <div class="about-bio-text">
            <!--Contributor name goes between the <h3> tags.-->
            <h3>Ramona Peters</h3>
            <!--Contributor title goes here -->
            <h4>CULTURAL ADVISOR</h4>
            <!--Contributor bio goes here.-->
            <p>Ramona Peters is the former Tribal Historic Preservation Officer and the current Director of Mashpee
                Museum and Tribal Archives, of the Mashpee Tribe</p>

            <P>She is also the Founder and President of the <a href="http://www.nativelandconservancy.org/">Native Land
                    Conservancy (NLC)</a>
            </p>
        </div>
    </div>

    <!--Individual bio ends here-->


    <hr id="about-hr">
    <div>
        <h1 id="tools">TOOLS</h1>
        <h3>MAP</h3>
        <H4>MAPBOX GL JS</H4>
        <p>The map of Wampanoag political activity and activists is powered by <a
                href="https://docs.mapbox.com/mapbox-gl-js/guides/">Mapbox GL JS</a>, a JavaScript mapping library. The
            map highlights activism, as well as key locations associated with activists, and allows viewers to make
            connections between events and activists across various Wampanoag communities. The goal of the map is to
            reinforce Wampanoag presence in their homeland.</p>
        <br>

        <h3>Timeline</h3>
        <H4>TIMELINEJS</H4>
        <p>The timeline of Wampanoag political activity is powered by <a
                href="https://timeline.knightlab.com/">TimelineJS</a>, an open source timeline creation tool developed
            by Northwestern University's Knight Lab. The timeline includes key events in Wampanoag activism from the
            antebellum period, juxtaposed alongside related events in Massachusetts and United States history. The goal
            of the timeline is to illustrate the progression and persistence of Wampanoag activism and help viewers
            place these acts of resistance in the larger context of national events.</p>
        <br>

        <h3>Database</h3>
        <h4>POSTGRESQL | GEOJSON | PYTHON | GOOGLE SHEETS</h4>
        <p>More Than Surviving is powered by a custom-built API that enables seamless integration between the site's
            database and the data visualized in the interactive map and timeline. For accessibility and ease of future
            updates, the site database can be updated through a Google Colab notebook that retrieves research data that
            is put into Google Sheets. In the future, this will allow tribe members and other researchers to easily join
            and expand the project.</p>


    </div>

    <hr id="about-hr">
    <div>
        <h3 class="womens-rights">Special Thanks To...</h1>
            <ul>
                <li>Professor J. Bret Maney, for guidance, feedback, and celebration.</li>
                <li>The City University of New York Graduate Center and the <a
                        href="https://www.gc.cuny.edu/digital-humanities">M.A. Program in Digital Humanities</a>.</li>
            </ul>



    </div>
    {% endblock content %}