{% extends 'base.html' %}

{% block content %}
<div id="activist-page-container">
    <div>
        <h2>ACTIVIST</h2>
    </div>
    <div>
        <h1 style="width: 400px;">{{ activists.name }}</h1>
    </div>
    <span class="caption" style="font-size:21px">
        {{dob}} – {{dod}} | {{tribal_affiliations}}
    </span>
    <hr id="about-hr">
    <div>
        <div>
            <img id="{{image_id}}" style="float: left; margin-right: 25px; max-width: 50%;" src="{{image_url}}" alt="{{image_alt_text}}">
        </div>
        <div style="text-align: justify;">
            {{ activists.long_bio|linebreaks }}
        </div>
    </div>
    <hr id="about-hr">
    <div>
        <div class="works-cited">Work Cited</div>
        <br>
        <div class="citations">{{ activists.citations|linebreaks }}</div>
    </div>
    <br>
    <hr id="about-hr">
    <div>
        <h2>RELATED EVENTS</h2>
        <br>
        <div class="row justify-content-around">
            {% for event in related_events %}
                <div class="col-md-3" style="width: 29%"><!-- HERE -->
                    <div class="card mb-4 shadow-sm"><!-- HERE -->
                        <img class="card-img-top" src="{{event.image_url}}" alt="{{event.image_alt_text}}">
                        <div class="card-body" style="background-color: #FFFFF6; border-radius: 10px; padding-top: 8px;">
                            <div>{% autoescape off %}{{event.issue_types}}{% endautoescape %}</div>
                            <div><h3 style="font-size:16px; letter-spacing: 0.18px; font-weight: 700; padding-top: 10px; margin-bottom: 4px">{{event.title}}</h3></div>
                            <div><h4 style="font-size:12px; letter-spacing: 0.13px; font-weight: 500;">{{event.dates}} | {{event.location}}</h4></div>
                            <a href="{{event.button_path}}"><button>LEARN MORE</button></a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row justify-content-around">{% endif %}
            {% endfor %}
            </div>
    </div>
</div>
{% endblock content %}