{% extends 'base.html' %}

{% block content %}
<div id="activist-page-container">
    <div>
        <h2>ACTIVIST</h2>
    </div>
    <div>
        <h1 style="width: 400px;">{{ activists.name }}</h1>
    </div>
    <span class="caption" style="font-size:21px">
        {{dob}} – {{dod}} | {{tribal_affiliations}}
    </span>
    <hr id="about-hr">
    <div>
        <img src="{{image_url}}" alt="{{image_alt_text}}" height="50%">
    </div>
    <div>
        {{ activists.long_bio|linebreaks }}
    </div>
    <br>
    <br>
    <div>
        map here
    </div>
    <br>
    <br>
    <div>
        buttons here
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <div class="works-cited">Work Cited</div>
        <br>
        <div class="citations">{{ activists.citations|linebreaks }}</div>
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h2>RELATED EVENTS</h2>
        related events here
    </div>
</div>
{% endblock content %}