{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="utf-8">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <style>
      .mapboxgl-popup-content {
        width: 450px;
      }
    </style>
</head>
<div id="event-page-container">
    <div>
        <h2>EVENT</h2>
    </div>
    <div>
        <h1 style="width: 400px;">{{ events.title }}</h1>
    </div>
    <span class="caption" style="font-size:21px">
        {{event_date_string}} | {{location_names}}
    </span>
    <hr id="about-hr">
    <div>
        <div>
            <img id="{{image_id}}" style="float: left; margin-right: 25px; max-width: 400px" src="{{image_url}}" alt="{{image_alt_text}}">
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>
            
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
            
                <!-- Modal Caption (Image Text) -->
                <div id="caption">{{credit}}</div>
            </div>
        </div>
        <div style="text-align: justify;">
            {{ events.long_description|linebreaks }}
        </div>
    </div>
    <div id="map-event-page-container">
        <div id="event-page-map"></div>
    </div>
    <div>
        <br>
        <a href="/map"><button>GO TO MAP</button></a> <a href="/timeline"><button>GO TO TIMELINE</button></a>
    </div>
    <hr id="about-hr">
    <div>
        <div class="works-cited">Notes</div>
        <br>
        <div class="citations">{{ events.citations|linebreaks }}</div>
    </div>
    <br>
    <hr id="about-hr">
    <div>
        <h2>RELATED EVENTS AND ACTIVISTS</h2>
        <br>
        <div class="row justify-content-around">
            {% for event_or_activist in related_events_and_activists %}
                <div class="col-md-3" style="width: 29%"><!-- HERE -->
                    <div class="card mb-4 shadow-sm"><!-- HERE -->
                        <img class="card-img-top" src="{{event_or_activist.image_url}}" alt="{{event_or_activist.image_alt_text}}">
                        <div class="card-body" style="background-color: #FFFFF6; border-radius: 10px; padding-top: 8px;">
                            <div>{% autoescape off %}{{event_or_activist.issue_types}}{% endautoescape %}</div>
                            <div><h3 style="font-size:16px; letter-spacing: 0.18px; font-weight: 700; padding-top: 10px; margin-bottom: 4px">{{event_or_activist.title}}</h3></div>
                            <div><h4 style="font-size:12px; letter-spacing: 0.13px; font-weight: 500;">{{event_or_activist.dates}} | {{event_or_activist.location}}</h4></div>
                            <a href="{{event_or_activist.button_path}}"><button>LEARN MORE</button></a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row justify-content-around">{% endif %}
            {% endfor %}
            </div>
    </div>
</div>
<script>
// Get the modal
var image_id = "{{ image_id }}"
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById(image_id);
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

var map_data = {{ map_geojson | safe }};
// TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com
mapboxgl.accessToken = 'pk.eyJ1IjoiemVsZGFza3l3YWxrZXIiLCJhIjoiY2xmdThkOWJwMDhjZzNmbW9jc2NsZzZ1ZCJ9.Qpgl1f0WUUuheTTC5Wzn3A';
const map = new mapboxgl.Map({
    container: 'event-page-map', // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/light-v11', // style URL
    center: [-70.6896, 41.7854], // starting position [lng, lat]
    zoom: 7.7 // starting zoom
});

// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl({ showCompass: false }), 'bottom-left');

/* 
Add an event listener that runs
    when a user clicks on the map element.
*/
map.on('load', () => {
    map.addSource('events', {
        "type": "geojson",
        "data": map_data
    });
    map.addLayer({
        'id': 'data-layer',
        'type': 'circle',
        'source': 'events',
        'paint': {
            'circle-radius': 6,
            'circle-stroke-width': 1,
            'circle-color': [
            'match',
            ['get', 'issue_type'],
            'Indigenous Rights',
            '#BB604D',
            'Anti-Slavery',
            '#D7942A',
            "Women's Rights",
            '#867EC9',
            'Temperance',
            '#819CB9',
            'Racial Equality',
            '#589C82',
            'red'
            ],
            'circle-stroke-color': 'white'
        },
    });
});

/* 
Add an event listener that runs
    when a user clicks on the map element.
*/
map.on('click', (event) => {
    // If the user clicked on one of your markers, get its information.
    const features = map.queryRenderedFeatures(event.point, {
        layers: ['data-layer'] // replace with your layer name
    });
    if (!features.length) {
    return;
    }
    const feature = features[0];

    // Copy coordinates array.
    const coordinates = feature.geometry.coordinates.slice();
    const description = feature.properties.description;
    
    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(event.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += event.lngLat.lng > coordinates[0] ? 360 : -360;
    }


    map.flyTo({
        center: feature.geometry.coordinates,
        zoom: 10
    });

    /* 
    Create a popup, specify its options 
    and properties, and add it to the map.
    */
    // const popup = new mapboxgl.Popup({ offset: [0, -15] })
    const popup = new mapboxgl.Popup()
                            .setLngLat(feature.geometry.coordinates)
                            .setHTML(
                                `
                                <div id="map-popup">
                                    <div>
                                    <div>${feature.properties.issue_types}</div>
                                    <h3>${feature.properties.title}</h2>
                                    <h4>${feature.properties.location} | ${feature.properties.date_string}</h4>
                                    <div style="font-size:12px; letter-spacing:0.13px">${feature.properties.description}</div>
                                    <br>
                                    <a href="${feature.properties.link_path}"><i><b>Learn More</b></i></a>
                                    </div>
                                </div>`)
    .addTo(map)
});

// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'data-layer', () => {
    map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'data-layer', () => {
    map.getCanvas().style.cursor = '';
});
</script>
{% endblock content %}