{% extends 'base.html' %}

{% block content %}

<div id="event-page-container">
    <div>
        <h2>EVENT</h2>
    </div>
    <div>
        <h1 style="width: 400px;">{{ events.title }}</h1>
    </div>
    <span class="caption" style="font-size:21px">
        {{event_date_string}} | {{location_names}}
    </span>
    <hr id="about-hr">
    <div>
        <div>
            <img style="float: left; margin-right: 25px; max-height: 500px; max-width: 100%" src="{{image_url}}" alt="{{image_alt_text}}">
          
        </div>
        <div style="text-align: justify;">
            {{ events.long_description|linebreaks }}
        </div>
    </div>
    <div>
        map here
    </div>
    <div>
        <a href="/map"><button>GO TO MAP</button></a> <a href="/timeline"><button>GO TO TIMELINE</button></a>
    </div>
    <hr id="about-hr">
    <div>
        <div class="works-cited">Work Cited</div>
        <br>
        <div class="citations">{{ events.citations|linebreaks }}</div>
    </div>
    <br>
    <br>
<!-- An experiment! -->
<!-- 
    <hr id="about-hr">
    <div>
        <h2>CONTEXT</h2>
    </br>
<ul class="context-tl">
    <li><b>1830</b> One event</li>
    <li><b>1834</b> Another event</li>
    <li><span class="womens-rights"><b>1835</b> The event we're on right now</span></li>
    <li><b>1837</b> Another event that happened after</li>
    <li><b>1840</b> One more event!</li>
</ul>
-->
    <hr id="about-hr">
    <div>
        <h2>RELATED ACTIVISTS</h2>
        related activists here

    
    </div>
</div>
{% endblock content %}