{% extends 'base.html' %}


{% block content %}
{% load static %}

<!-- Header -->
<div id="about-page-container">

  <h2>GLOSSARY</h2>

  <span class="caption" id="about-caption">
    <a href="#issues">ISSUES</a>
  </span>
  <span id="about-divider">
    |
  </span>
  <span class="caption" id="about-caption">
    <a href="#understanding">UNDERSTANDING THE ANTEBELLUM ERA</a>
  </span>


  <br>
  <br>
  <hr id="about-hr">

  <h1 id="issues">ISSUES</h1>


  <p>Below is a brief introduction to key issues documented in this project that Wampanoag people engaged in. The
    Antebellum period saw sustained and fervent political, social, and moral activism across the nation, and Wampanoag
    people often joined non-Indigenous communities in activities on state and national level in support of systemic
    changes that would have an impact far beyond the borders of their communities. </p>


  <!-- To add another accordion tab, copy a code block below, starting with <hr class="glossary-hr">, and ending with </div></div>. Then replace the text AND the issue ID in both id= and label for = -->


  <!--Accordion tab: Indigenous Rights-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="issue1" />
    <label for="issue1"><span class="indigenous-rights">Indigenous Rights</span></label>
    <div class="content">
      <p>Indigenous Rights encompasses a variety of issues related to protecting cultural traditions, such as language,
        ceremonial practices and access to homelands. In the 19th century, and today, the fight for land rights was a
        critical part of the fight for Indigenous Rights. Centuries of predatory colonial and American practices had
        diminished the access of Wampanoag to their homelands to a fraction of the pre-contact territory. The remaining
        lands kept communally were at risk of exploitation by state appointed overseers and greedy neighbors—with
        resources like lumber and local crops regularly plundered. Wampanoag responded with petitions, physical protest,
        and demands for independence. Intermarriage brought individualistic philosophies into Wampanoag communities that
        also threatened traditional communal land practices, causing some tribes to enact policies protecting against
        attacks on their way of life. </p>

    </div>
  </div>

  <!--Accordion tab: Racial Equality-->
  <div class="accordion">
    <hr class="glossary-acc-hr">
    <input type="checkbox" id="issue2" />
    <label for="issue2"><span class="racial-equality">Racial Equality</span></label>
    <div class="content">
      <p>Despite Northern states having abolished slavery by the 19th century, rampant racial equality persisted,
        Massachusetts included. From everyday interactions to systemic discrimination, people of color faced all manner
        of resistance to their very existence and success. Interracial marriage was illegal, access to education was
        precarious and at times banned, and segregated railcars were the norm. Although most people of color were
        granted citizenship with the 1866 passing of the 14th Amendment, all indigenous peoples did not receive the same
        status until 1924 (the indigenous vote was not federally protected in 1957). This made it possible for people of
        color to be accused in court and yet not have the right to testify on their own behalf. Within Wampanoag
        communities on communal land, interracial marriage and access to education was common, yet exploitative
        treatment by overseers and paternalistic state policies kept racial inequality top of mind. Wampanoags who did
        not live on or traveled outside of communal lands dealt first hand with pervasive discrimination, including
        facing the risk of being kidnapped and sold into slavery in the south. Wampanoag residing both on and off
        communally held lands engaged in activities throughout the 19th century to fight discrimination against all
        people of color, including petitioning the state and fighting (and winning) access to education. </p>
    </div>
  </div>


  <!--Accordion tab: Anti-Slavery-->
  <div class="accordion">
    <hr class="glossary-acc-hr">
    <input type="checkbox" id="issue3" />
    <label for="issue3"><span class="antislavery">Anti-Slavery</span></label>
    <div class="content">
      <p>The antebellum period saw a distinct rise in anti-slavery activities, with people of all colors
        participating—including the Wampanoag, who had seen members of their own communities enslaved and shipped off to
        far off lands. Anti-slavery activism took a variety of forms including petitioning, public speaking, newspaper
        and pamphlet publishing and directly aiding escaped enslaved people. Wampanoag intermarriage with free Black
        people and refugees from slavery was common, with communal native lands becoming a safe haven. Some Wampanoags
        bought the freedom of their spouses, with the children of these unions considered Indigenous and therefore free.
        Wampanoags both on and off communal lands joined in American Anti-Slavery Society (AASS) efforts, participating
        in auxiliary groups, joining petition campaigns fighting for both anti-slavery and racial equality efforts, and
        subscribing to The Liberator, the official newspaper of the organization. The interconnectivity of Wampanoag
        activism with the AASS becomes even more apparent in the pages of the Liberator, published by William Lloyd
        Garrison the organization's leader, which featured accounts of Wampanoag underground railroad activity and the
        Mashpee fight for sovereignty. </p>
    </div>
  </div>

  <!--Accordion tab: Temperance-->

  <div class="accordion">
    <hr class="glossary-acc-hr">
    <input type="checkbox" id="issue4" />
    <label for="issue4"><span class="temperance">Temperance</span></label>
    <div class="content">
      <p>
        Alcohol became a hot button issue in the antebellum period. Vocal anti-alcohol activists across the country
        spoke out against the substance and its negative impact on families and society as a whole. Temperance societies
        formed with members pledging to abstain. Politically minded individuals pushed for laws banning the sale of
        alcohol with varying success. Wampanoags knew first hand the negative impact of alcohol on their
        communities—with outsiders taking advantage of alcohol addictions to hold tribal members in debt they then
        leveraged to exact lands or sell the tribal member into slavery as repayment. Wampanoags looking to protect
        their own communities started their own temperance societies and even petitioned the state to enact a law
        banning the sale of alcohol to their tribal members. Although that law was never passed, in 1838, Massachusetts
        banned the sale of alcohol less than 15 gallon quantities, which effectively limited alcohol sales to the
        rich—the law was repealed two years later.
      </p>
    </div>
  </div>

  <!--Accordion tab: Women's Rights-->
  <div class="accordion">
    <hr class="glossary-acc-hr">
    <input type="checkbox" id="issue5" />
    <label for="issue5"><span class="womens-rights">Women's Rights</span></label>
    <div class="content">
      <p>Starting in the 19th century, many women in the United States began to push against their traditionally
        confined roles within the home. As more women played key roles in moral and political reform—becoming effective
        petitioners and public speakers on issues like slavery, racial equality, and temperance—and took jobs outside
        the home, they began to organize around the improvement of their legal and social standing. The Wampanoag are
        matrilineal people, with spouses and children joining the mother's clan. Wampanoag women have always held
        leadership roles and exercised considerable influence on tribal matters as sachems, clan mothers, and
        influential matriarchs. In Mashpee and Aquinnah, women saw their rights codified in the 19th century—ensuring
        their right to vote and speak up on tribal business and that plots of communal land managed by their families
        were in their name, rather than their spouses. Outside of these communities, however, state and federal
        institutions were not as egalitarian, and once communal lands were taken by the state, women's rights took on a
        new urgency for Wampanoag women, with many joining the fight for women's suffrage. </p>
    </div>
  </div>



  </br></br>


  <h1 id="understanding">UNDERSTANDING THE ANTEBELLUM ERA</h1>
  <p>This project is situated in the Antebellum era. Wampanoag activism was particularly vibrant during
    these years; it was also an extremely consequential time for the United States as a whole. </p>


  <!--Accordion tab: Antebellum-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term0" />
    <label for="term0">The Antebellum era</label>
    <div class="content">
      <p> “Antebellum” translates from Latin to "before the war." There are varying opinions about when the antebellum
        era started in the United States, with some historians marking it at the end of The War of 1812 (1815) until the
        start of the Civil War (1861), while others consider the contested election of 1824 the beginning. The aftermath
        of the election was followed by a rise in the populism of Andrew Jackson and the formation of the Democratic
        party, both of which would be key forces in the events that led to the Civil War. During this period, the nation
        was politically and morally divided by the existence of slavery, exacerbated by the invention of the cotton gin,
        rapid industrialization of the North, and the passing of the genocidal Indian Removal Act. Paired with the
        impact of the Second Great Awakening, this era saw heightened political activity tied to ambitions of bettering
        society, with reform movements related to abolition, temperance, women’s rights, workers' rights, and racial
        equality growing sustained support, particularly in the North. The Wampanoag were politically and socially
        engaged in many of these movements. They expressed self-determination and empathy through activities that had
        impact within their communities and beyond. </p>
    </div>
  </div>

  <!--Accordion tab: Underground Railroad-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term1" />
    <label for="term1">The Underground Railroad</label>
    <div class="content">
      <p> In 1793 the Fugitive Slave law was passed, appeasing southern states who wanted to ensure that slaves who
        escaped into the North would not automatically be considered free. The law enabled them to retrieve their
        “property” by publishing ads promising rewards for the return of the men, women, and children who had escaped.
        Slavecatchers were also sent into the North to kidnap them back into slavery, at times, also grabbing
        individuals who had never been enslaved in the first place. The Underground Railroad emerged in response. The
        secretive network of individuals offered refugees from slavery safe havens, means of passage, and assistance in
        evading slavecatchers, resettling, and even escaping to Canada.


      </p>
      <p> In 1850, the South, angered by Northern flouting of the 1793 law insisted on stricter legislature, resulting
        in the Fugitive Slave Act. Unlike the 1793 law, the act required federal and state officials to enforce it, and
        any citizen or law officer who failed to cooperate or assisted a fugitive was liable to heavy fines and even
        imprisonment. Commissioners presiding over trials of suspected refugees from slavery were awarded $10 if they
        ruled the individual should be returned to slavery, but just $5 if they deemed there to be insufficient
        evidence. The individual on trial was not allowed to testify and did not have the benefit of a jury. This caused
        an uproar across the North—the South was now imposing their local laws on a federal level. Many anti-slavery
        groups ramped up their efforts and formed Vigilance Committees which had streamlined plans of action to assist
        refugess from slavery. These plans included coordinating with underground railroad conductors, providing funding
        for bail and legal assistance, and in some extraordinary cases, busting captured refugees out of jail and even
        courtrooms.


      </p>
      <p>In Massachusetts, people of color were primarily responsible for sheltering and assisting runaways. Many
        refugees escaped the South over water, not land, on ships often bound for ports in Wampanoag territory,
        including New Bedford and Vineyard Haven. Boston was also a central landing point, offering refugees the
        opportunity to disappear into the city population or benefit from the assistance of its renown anti-slavery
        community. Some Wampanoag were conductors on the underground railroad, while others offered the safety of their
        independent lands and intermarriage into the tribe.
      </p>
      </p>
    </div>
  </div>

  <!--Accordion tab: Anti-Slavery Society-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term2" />
    <label for="term2">The Anti-Slavery Society</label>
    <div class="content">
      <p>The American Anti-Slavery Society (AASS), founded in 1833 by William Lloyd Garrison and Arthur Tappan, was the
        first and largest grassroots movement of its kind in the United States. Its membership was estimated to have
        reached as high as 200,000 at its height, representing some 2,000 AASS auxiliary groups across the nation.
        Members believed that slavery should be immediately abolished, distinguishing themselves from other anti-slavery
        efforts supporting gradual emancipation or even relocation of the Black population to colonies outside of the
        country. A network of prominent public speakers, including Frederick Douglass, helped inspire their audiences to
        join AASS, and excite members to take action. Organizational efforts included coordinated petition campaigns and
        protests related to abolishing slavery and fighting for racial equality. Women played a key role in the
        organization, often leading petition campaigns, with some becoming prominent public speakers for the cause. Many
        Wampanoag activists were familiar with the AASS, if not actual members, and subscribed to The Liberator. When
        Frederick Douglass gave his first public address to a mostly white audience at the Nantucket anti-slavery
        convention in 1841, Afro-Wampanoag political activists were likely present. When Mashpee fought for independence
        in 1833, they made sure to publish their petition in the pages of The Liberator. William Lloyd Garrison himself
        was known to engage in issues concerning the Wampanoag, speaking in favor of their independence and equal
        treatment. </p>

    </div>
  </div>

  <!--Accordion tab: The Liberator-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term3" />
    <label for="term3">The Liberator</label>
    <div class="content">
      <p>The Liberator newspaper was an abolitionist newspaper published between 1831-1865 by WIlliam Lloyd
        Garrison,co-founder of the American Anti-Slavery Society, and, for a period, Isaac Knaap, the co-founder of the
        New England Anti-Slavery Society. The Liberator gained notoriety as a staunch advocate for the immediate
        emancipation of all enslaved peoples. The weekly publication included news from anti-slavery conventions,
        petitions, profiles and other news relevant to the abolitionist movement. It also served an early advocate for
        women’s rights, declaring in 1838 the objective "to redeem woman as well as man from a servile to an equal
        condition." Reprints of Wampanoag petitions and retellings of Wampanoag underground railroad activity appeared
        in its pages, indicating the likelihood of subscribers within the community. </p>

    </div>
  </div>


  <!--Accordion tab: Second Great Awakening-->
  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term4" />
    <label for="term4">Second Great Awakening</label>
    <div class="content">
      <p>
        Between 1790-1840, a wave of religious fervor brought on a wave of converts and heightened moral reform
        activities in the United States. In the 1820s, Baptist and Methodist faiths saw their numbers swell, with
        emotional preaching that salvation came not just through repenting one’s sins but taking action to improve
        society as a whole. This imperative inspired the creation of a number of reform movements dedicated to various
        issues meant to eradicate sin, including temperance, abolition, and racial-equlaty. The Wampanoag communities
        who retained their communal lands did so partly because they had converted to Christianity. Mashpee, in
        particular, saw a number of faiths introduced into their community through intermarriage in the early 19th
        century. Baptist and Methodist beliefs, in particular, captured their attention, much to the chagrin of their
        Harvard appointed Congregationalist preacher, the reviled Phineas Fish. “Blind” Joe Amos, the Mashpee preacher,
        created the first and second Baptist congregations among the Wampanoag in Mashpee and Aquinnah respectively. In
        1833, he joined forces with other Mashpee Wampanoags and William Apes, the Pequot Methodist preacher and
        activist, to fight for and win tribal independence. They were also founding members of Mashpee’s Temperance
        Society that same year.

      </p>
    </div>
  </div>

  <!--Accordion tab: The Trail of Tears -->


  <hr class="glossary-acc-hr">
  <div class="accordion">
    <input type="checkbox" id="term5" />
    <label for="term5">The Trail of Tears</label>
    <div class="content">
      <p>
        Having arrived in office intent on displacing tribes occupying valuable land in the South, Andrew Jackson was
        instrumental in the passing of the Indian Removal Act. The Cherokee, Muscogee (Creek), Seminole, Chickasaw, and
        Choctaw nations were to be moved to federal lands west of the Mississippi River—no matter that Indigenous people
        already inhabited that land. Some tribes took up arms, like the Seminole, who were joined by fugitive slaves.
        Other tribes petitioned the government, and still others chose to avoid conflict and leave. Small pockets of
        tribal peoples managed to stay on their homelands, but by 1837, 46,000 Indigenous people had been forced west,
        and 132,000-167,000 had died defending their homelands or as a result of the brutal conditions of the removal.
      </p>
    </div>
  </div>
</div>
</div>

{% endblock content %}