{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Title Banner and Buttons -->

<div id="landing-main-div">
    <div id="landing-h1-div">
        <h1 id="landing-h1">
            WAMPANOAG POLITICAL AGENCY,<br />
            INGENUITY, AND PERSISTENCE<br />
            IN THE ANTEBELLUM ERA
        </h1>
    </div>
    <div class="landing-bottom-container">
        <div id="landing-buttons-container">
            <div>
                <a href="/map">
                    <button style="background-color:#867EC9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);">
                        VIEW THE MAP</button></a>
            </div>
            <div>
                <a href="/timeline">
                    <button style="background-color:#867EC9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);">
                        VIEW THE TIMELINE</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Cream container - "Cultural Expression through Agency" -->

<div id="landing-about-container">
    <div class="landing-child-div">
        <img src="{% static '/images/cynthia-attaquin.jpg' %}" width=300px>
        <P class="home-image-caption">Cynthia Attaquin, Herring Pond & Mashpee Activist</P>
    </div>
    <div class="landing-child-div">
        <div class="q" id="landing-about-header">
            Cultural Expression
            <br>
            through Agency
        </div>
        <br>
        <div id="landing-about-text">
            By the time the antebellum period arrived, Wampanoag people had suffered tremendous cultural, political and
            social attacks at the hands of European colonists and later, Americans, who disregarded their humanity.
            Access to their homelands was restricted to a small fraction of the former area and systemic and social
            discrimination hampered their ability to live freely. Despite this, the Wampanoag continued to express,
            politically and otherwise, one of the most important aspects of their culture— actively living with respect
            for and attention to the interconnectivity of all peoples.
        </div>
        <br>
        <div>
            <a href="/about"><button>ABOUT THE PROJECT</button></a>
        </div>
    </div>
</div>

<!-- Purple container - "Navigating a Changed Landscape" -->
<div id="landing-issues-container">
    <div class="landing-child-div">
        <div class="q" id="landing-issues-text">
            Navigating a Changed
            <br>
            Landscape
        </div>
        <br>
        <div>
            The antebellum era, directly impacted by the renewed religious fervor of the Second Great Awakening, saw the
            emergence of several social and political reform movements. People across the country organized to end
            slavery, racial discrimination and alcohol consumption, and to fight for Indigenous, workers, and women’s
            rights. The Wampanoag engaged in many of the activities, and their efforts had implications that extended
            well beyond the confines of their communities. </div>
        <br>
        <div>
            <a href="/glossary"><button>ABOUT THE ISSUES</button></a>
        </div>
    </div>
    <div class="landing-child-div">
        <img src="{% static '/images/absalom-boston.jpg' %}">
        <P class="home-image-caption"><span class="light-text">Absalom Boston, Nantucket Activist</span></P>
    </div>
</div>

<!-- EXPLORE Section -->
<div id="landing-explore-container">
    <hr>
    <h1>EXPLORE</h1>
    <hr>
    <div class="row justify-content-around">
        <div class="col-md-3" style="width: 29%;"><!-- HERE -->
            <div class="card mb-4 shadow-sm"><!-- HERE -->
                <img class="card-img-top" src="{% static '/images/EulogyHome.png' %}">
                <div class="card-body" style="background-color: #FFFFF6; border-radius: 10px; padding-top: 8px;">
                    <div><button id='indigenous-rights-button' disabled>INDIGENOUS RIGHTS</button> <button id='racial-equality-button' disabled>RACIAL EQUALITY</button></div>
                    <div><h3 style="font-size:16px; letter-spacing: 0.18px; font-weight: 700; padding-top: 10px; margin-bottom: 4px">Eulogy on King Philip</h3></div>
                    <div><h4 style="font-size:12px; letter-spacing: 0.13px; font-weight: 500;">1836 | Boston</h4></div>
                    <a href="/event/EVT4"><button>LEARN MORE</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="width: 29%;"><!-- HERE -->
            <div class="card mb-4 shadow-sm"><!-- HERE -->
                <img class="card-img-top" src="{% static '/images/RailroadsHome.png' %}">
                <div class="card-body" style="background-color: #FFFFF6; border-radius: 10px; padding-top: 8px;">
                    <div><button id="racial-equality-button" disabled>RACIAL EQUALITY</button></div>
                    <div><h3 style="font-size:16px; letter-spacing: 0.18px; font-weight: 700; padding-top: 10px; margin-bottom: 4px">Desegregating the Railroads</h3></div>
                    <div><h4 style="font-size:12px; letter-spacing: 0.13px; font-weight: 500;">1836 - 1843 | Nantucket + Mashpee</h4></div>
                    <a href="/event/EVT5"><button>LEARN MORE</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="width: 29%;"><!-- HERE -->
            <div class="card mb-4 shadow-sm"><!-- HERE -->
                <img class="card-img-top" src="{% static '/images/WilliamApesHome.png' %}">
                <div class="card-body" style="background-color: #FFFFF6; border-radius: 10px; padding-top: 8px;">
                    <div><h3 style="font-size:16px; letter-spacing: 0.18px; font-weight: 700; padding-top: 10px; margin-bottom: 4px">William Apes</h3></div>
                    <div><h4 style="font-size:12px; letter-spacing: 0.13px; font-weight: 500;">1798 - 1839 | Pequot + Mashpee</h4></div>
                    <a href="/activist/ACT2WApes"><button>LEARN MORE</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}