{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="timeline-page-container">
  <div>
    <h2>TIMELINE</h1>
  </div>
  <div style="width: 400px;">
    <h1>WAMPANOAG POLITICAL ACTIVITY</h1>
  </div>
  <div class="caption" style="font-size:21px; letter-spacing: 0.23px; font-weight: 700;">
    1830 - 1850
  </div>
  <hr style="border-top: 2px solid #5C5B5B;">
  <div class="caption" id="issue-key">
    <div style="padding-right:10px;">ISSUE KEY</div>
    <div>
      <button id="indigenous-rights-button" disabled>INDIGENOUS RIGHTS</button>
      <button id="anti-slavery-button" disabled>ANTI-SLAVERY</button>
      <button id="womens-rights-button" disabled>WOMEN'S RIGHTS</button>
      <button id="temperance-button" disabled>TEMPERANCE</button>
      <button id="racial-equality-button" disabled>RACIAL EQUALITY</button>
    </div>
  </div>
  <hr style="border-top: 2px solid #5C5B5B;">
  <div id='timeline-embed' style="width: 100%; height: 700px"></div>
</div>

<script type="text/javascript">
  var json = {{ timeline_json | safe }};
  var additionalOptions = {
    font: '{% static 'css/ timeline - fonts.css' %}',
      default_bg_color: '#fffff6',
        marker_width_min: '200',
        marker_height_min: '40',
          timenav_height_percentage: '40',
            scale_factor: '7',
              hash_bookmark: true,
                // IMPORTANT: If you add any events before the first Wampanoag event ("Mashpee Temperance Society"), you MUST change the item 
                //  below to the slide number of the new first Wampanoag slide. That way, the timeline will always start with Wampanoag activism.
                // This isn't the same as the row number or ID in the database. You can get it by counting from the earliest/oldest event.
                start_at_slide: '5' 
  };


  timeline = new TL.Timeline('timeline-embed', json, additionalOptions);
</script>
{% endblock content %}