{% extends 'base.html' %}

{% block content %}
<div id="about-page-container">
    <div>
        <div>
            <h2>ABOUT</h2>
        </div>
        <span class="caption" id="about-caption">
            <a href="#the-project">THE PROJECT</a>
        </span>
        <span id="about-divider">
            |
        </span>
        <span class="caption" id="about-caption">
            <a href="#the-team">THE TEAM</a>
        </span>
        <span id="about-divider">
            |
        </span>
        <span class="caption" id="about-caption">
            <a href="#tools">TOOLS</a>
        </span>
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h1 id="the-project">THE PROJECT</h1>
        Absalom Boston, the son of Seneca Boston, a free Black man, and Thankful Micah, a Nantucket Wampanoag, who, aboard the Industry, was the first whaleship captain to command a crew made up entirely of people of color. His subsequent business ventures in innkeeping and real estate were highly successful, enabling him to amass considerable wealth (1). Boston was extremely active in his community and passionately fought for racial equality. He founded the African Meeting House and School and served as trustee of the African Baptist Church (2).
        <br>
        Boston, as a prominent activist of color on the island, was surely present, along with nationally renowned activists Lucretia Mott, Charles L. Redmond, and William Lloyd Garrison, at Nantucket’s inaugural Anti-Slavery Convention in 1841 when Frederick Douglass gave his first public address. He would have also been in attendance following year when islanders mobbed attendees for three days in response to Steven S. Foster’s famous “Brotherhood of Thieves” address in which he proclaimed the church was the “Bulwark of Slavery,” and its clergy a “Brotherhood of Thieves.”(3)
        <br>
        To fight school segregation on Nantucket, Boston, together with his community, petitioned the state government and boycotted the segregated York Street School. Their actions resulted in the 1845 Massachusetts law mandating equal access to education for every resident regardless of skin color. When Nantucket chose to ignore the new law, Boston announced his plan to sue in the name of his daughter Phoebe Ann and Eunice Ross, a talented student and activist who had been denied admission to the island’s high school. Nantucket.
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h1 id="the-team">THE TEAM</h1>
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h1 id="tools">TOOLS</h1>
    </div>
</div>
{% endblock content %}