{% extends 'base.html' %}

{% block content %}
<div id="activist-page-container">
    <div>
        <h2>ACTIVIST</h2>
    </div>
    <div>
        <h1>{{ activists.name }}</h1>
    </div class="caption">
    <div>
        {{ activists.date_of_birth }} – {{ activists.date_of_death }} | {{ activists.tribal_affiliations }}
    </div>
    <hr id="about-hr">
    <div>
        {{ activists.image_ids }}
    </div>
    <div>
        {{ activists.long_bio }}
    </div>
    <br>
    <br>
    <div>
        map here
    </div>
    <br>
    <br>
    <div>
        buttons here
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <div class="works-cited">Work Cited</div>
        <br>
        <div class="citations">{{ activists.citations }}</div>
    </div>
    <br>
    <br>
    <hr id="about-hr">
    <div>
        <h2>RELATED EVENTS</h2>
        related events here
    </div>
</div>
{% endblock content %}