{% extends 'base.html' %}

{% block content %}
<div id="landing-main-div">
    <div id="landing-h1-div">
        <h1 id="landing-h1">
            WAMPANOAG POLITICAL AGENCY,<br />
            INGENUITY, AND PERSISTENCE<br />
            IN THE ANTEBELLUM ERA
        </h1>
    </div>
    <div id="landing-buttons-container">
        BUTTONS HERE
    </div>
</div>
<div id="landing-about-container">
    <div class="landing-child-div">
        IMAGE HERE
    </div>
    <div class="landing-child-div">
        <div class="q" id="landing-about-header">
            Cultural Expression
            <br>
            through Agency
        </div>
        <br>
        <div id="landing-about-text">
            finibus non tellus non, fringilla ullamcorper augue. Etiam mollis ante sit amet tortor iaculis, non gravida libero dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse dignissim augue et odio pretium varius.
        </div>
        <br>
        <div>
            BUTTON HERE (ABOUT THE PROJECT)
        </div>
    </div>
</div>
<div id="landing-issues-container">
    <div class="landing-child-div">
        <div class="q" id="landing-issues-text">
            Navigating a Changed
            <br>
            Landscape
        </div>
        <br>
        <div>
            finibus non tellus non, fringilla ullamcorper augue. Etiam mollis ante sit amet tortor iaculis, non gravida libero dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse dignissim augue et odio pretium varius.
        </div>
        <br>
        <div>
            BUTTON HERE (ABOUT THE ISSUES)
        </div>
    </div>
    <div class="landing-child-div">
        IMAGE HERE
    </div>
</div>
<div id="landing-explore-container">
    <hr>
    <h1>EXPLORE</h1>
    <hr>
    <div id="landing-explore-text">
        Aenean vestibulum felis id justo iaculis euismod. Morbi sed massa lectus.
    </div>
    <div id="landing-example-explore">
        <div>
            EVENT HERE
        </div>
        <div>
            EVENT HERE
        </div>
        <div>
            ACTIVIST HERE
        </div>
    </div>
</div>
{% endblock content %}