{% extends 'base.html' %}

{% block content %}
<h1>A timeline will eventually live here (we're working on it!)</h1>
{% endblock content %}

<script>
var temp_json = {"events": [{
    "media": {
        "url": "https://upload.wikimedia.org/wikipedia/commons/b/b4/Squam_Beach_-_panoramio.jpg",
        "caption": "A test image tagged 'Nantucket' on Wikimedia commons. This will be replaced by something else ASAP.",
        "credit": "Henry P. Grey, Wikimedia Commons",
        "alt": "A black and white photo of a beach."
    },
    "start_date": {
        "year": "1840"
    },
    "end_date": {
        "year": "1846",
    },
    "text": {
        "headline": "Nantucket Battle for Desegregated Schools",
        "text": "A six year battle on Nantucket that resulted in equal access to education in Massachusetts."
    },
   "group": 1
}]}
</script>