/* Font Red Hat Display
/* VARIABLES BASE ----------------------------------------------------- */
/* ICON PATH ================================================== */
/* TYPEFACE ================================================== */
/* COLOR SCHEME ================================================== */
/* UI COLOR ================================================== */
/* UI ================================================== */
/* Animation ================================================== */
/* GFX ================================================== */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/redhatdisplay/v8/-F6ofjtqLzI2JPCgQBnw7HFQogg.ttf) format('truetype');
}

/* Font Base ----------------------------------------------------- */
.tl-timeline {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.3em;
}

.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
    font-family: 'Red Hat Display', sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.tl-timeline h2.tl-headline-title {
    font-size: 58px;
    line-height: 58px;
}

.tl-timeline p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

.tl-timeline ul {
    font-family: 'Red Hat Display', sans-serif;
}

.tl-timeline .tl-media .tl-media-wikipedia h4 a,
.tl-timeline .tl-media h4,
.tl-timeline .tl-media h4 a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.tl-timeline .tl-caption,
.tl-timeline .tl-credit {
    font-family: 'Red Hat Display', sans-serif;
}

.tl-timeline .vcard {
    font-family: 'Red Hat Display', sans-serif !important;
    font-weight: normal !important;
}

.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous,
.tl-timeline .tl-message,
.tl-timeline .tl-timegroup-message {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-transform: none;
}

.tl-timeline .tl-slidenav-next .tl-slidenav-title,
.tl-timeline .tl-slidenav-previous .tl-slidenav-title,
.tl-timeline .tl-message .tl-slidenav-title,
.tl-timeline .tl-timegroup-message .tl-slidenav-title {
    line-height: 1.3em !important;
}

.tl-timeline .tl-headline-date,
.tl-timeline h3.tl-headline-date {
    font-family
